<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо мне</title>
    <link rel="stylesheet" href="C:\SkillFactory\MyProfileNew\static\main.css">
    <link rel="stylesheet" href="C:\SkillFactory\MyProfileNew\static\reset.css">
    <link rel="stylesheet" href="C:\SkillFactory\MyProfileNew\static\reset.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <p>Обо мне</p>
            <ul>
                <li><a href="C:\SkillFactory\MyProfileNew\templates\index.html">Главная</a></li>
                <li><a href="C:\SkillFactory\MyProfileNew\templates\about.html">Обо мне</a></li>
                <li><a href="C:\SkillFactory\MyProfileNew\templates\contacts.html">Обратная связь</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <div class="hobby">
            <h1>Несколько слов о себе</h1>
            <hr>
             <img src="https://grizly.club/uploads/posts/2023-08/1692677230_grizly-club-p-kartinki-khaker-bez-fona-4.png" alt="html" width="400" height="400" align="left" style="position: relative; left: 20px;">
            <p style="width: 75%">Я == ХАЦКЕР </p>
        </div>
    </div>
</body>
</html>