<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/reset.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <p>Обратаня связь</p>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="about.html">Обо мне</a></li>
                <li><a href="contacts.html">Обратная связь</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>