<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="C:\SkillFactory\MyProfile\static\main.css">
    <link rel="stylesheet" href="C:\SkillFactory\MyProfile\static\reset.css">
    <link rel="stylesheet" href="C:\SkillFactory\MyProfile\static\reset.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <p>Главная</p>
            <ul>
                <li><a href="C:\SkillFactory\MyProfile\templates\index.html">Главная</a></li>
                <li><a href="C:\SkillFactory\MyProfile\templates\about.html">Обо мне</a></li>
                <li><a href="C:\SkillFactory\MyProfile\templates\contacts.html">Обратная связь</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>
